body {
  margin:0 auto;
}
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300);
.backgrounda {
  height: 720px;
  background: url(https://unsplash.imgix.net/26/city-scape.jpg?q=75&fm=jpg&s=7f3f4c218dc80e2717330526760c938f) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
 }
.backgroundb {
  height: 720px;
  background: url() no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #7C6C65;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
 }
.backgroundc {
  height: 720px;
  background: url(http://fc05.deviantart.net/fs71/i/2014/138/d/4/bay_bridge___daytime_by_thefunkybiskit-d7iuk64.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
 }
h1 {
  margin-top:110px;
  text-align:center;
  font-family: 'Questrial', sans-serif;
  color:white;

}

p, ul {
  margin-left: 15%;
  font-family: 'Old Standard TT', serif;
  font-weight:300;
  color:white;
}

.name {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  color:red;
}