<div id='welcome'>
  <h1>Hi there,</h1>
  <h1>I'm Steph.</h1>
  <h3>A web developer passioante about building amazing products</h3>
</div>


<div id="projects">
<ul>
  <li>LotifyMe</li>
  <li>iBall</li>
  <li>Friendzone</li>
  <li>iLove</li>
  <li>SurveyUnicorn</li>
  <li>Boba Racer</li>
  <li>GraPhantasy (in progress)</li>
</ul>
</div>

<div id ="contact">
  stephaniebarreyro [at] gmail [dot] com<br>
  linkedin.com/in/barreyro<br>
</div>