<div id="nav">
  <div class="brand"><h1><a href="#blank-one" class="scroll">steph b.</a></h1></div>
  <div class="menu">
    <ul>
      <li><a href="#blank-two" class="scroll">projects</a></li>
      <li><a href="#blank-three" class="scroll">contact</a></li>
    </ul>
  </div>
</div>

<div id="blank-one" class="blank-one">
  <h2>Hi! I'm Steph</h2>
</div>

<div class="white">
  <div class="text"><p>I'm a web developer.</p></div>
</div>

<div id="blank-two" class="blank-two">
  <h2>projects</h2>
</div>

<div class="black">
  <div class="text"><p><ul>
  <li>LotifyMe</li>
  <li>iBall</li>
  <li>Friendzone</li>
  <li>iLove</li>
  <li>SurveyUnicorn</li>
  <li>Boba Racer</li>
  <li>GraPhantasy (in progress)</li>
</ul></p></div>
</div>

<div id="blank-three" class="blank-three">
  <h2>contact</h2>
</div>

<div class="white">
  <div class="text"><p>stephaniebarreyro [at] gmail [dot] com<br>
  linkedin.com/in/barreyro<br></p>
</div>
