/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import url('//fonts.googleapis.com/css?family=Nixie+One|La+Belle+Aurore|Homemade+Apple|Cinzel');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, h3 {
  font-family: 'Nixie One', cursive;
}

.hello {
  display:none;
}

div {
  width: 100%;
  height: 100%;
}

.icons {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#nav {
  height: 80px;
  font-size: 36px;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

#nav .sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#nav .brand {
  font-size: 20px;
  line-height: 80px;
  float: left;
  width: 50%;
  color: rgb(50, 50, 50);
  font-family: 'Homemade Apple', cursive;
}

#nav .brand h1{
  line-height: 80px;
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
}

#nav menu {
  float: left;
  width: 50%;
}

#nav ul {
  text-align: right;
  word-spacing: 20px;
}

#nav li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  line-height: 80px;
  text-transform: lowercase;
}

a {
  color: #34D1BF;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

a:hover {
  color: rgb(100, 100, 100);
  border-bottom: 4px solid rgb(100, 100, 100);
}

.black {
  background-image: url(/assets/gray_sand.png); background-position: initial initial; background-repeat: initial initial;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.white {
  background-image: url(/assets/white_carbon.png); background-position: initial initial; background-repeat: initial initial;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Nixie One', cursive;
  height: 60%;
}

.blank-one {
  background:
 url(/assets/h2o.jpeg) 100% fixed;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.blank-two {
  background:
 url(/assets/nyc.jpg) fixed;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 50%;
}

.blank-three {
  background:
 url(assets/geoshapes.jpg) center center no-repeat fixed;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 40%;
}

.text {
  width: auto;
  margin: auto;
  line-height: 30px;
}

h2 {
  font-size: 80px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #000;
  padding-top: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-size: 24px;
  margin: 0 auto;
}

.row {
  height: auto;
}

#project-imgs {
  margin-top: 3em;
}