/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import url('//fonts.googleapis.com/css?family=Ropa+Sans');
@import url('//fonts.googleapis.com/css?family=Nixie+One|La+Belle+Aurore|Homemade+Apple|Cinzel');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
 font-family: 'Nixie One', cursive;
}

div {
  width: 100%;
  height: 100%;
}

#nav {
  height: 80px;
  font-size: 36px;
  margin-top: 1%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 100;
  overflow: hidden;
  font-family: 'Ropa Sans', sans-serif;
}

#nav .sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#nav .brand {
  font-size: 40px;
  line-height: 80px;
  text-transform: uppercase;
  float: left;
  width: 50%;
  color: rgb(50, 50, 50);
}

#nav menu {
  float: left;
  width: 50%;
}

#nav ul {
  text-align: right;
}

#nav li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  line-height: 80px;
  text-transform: lowercase;
}

#nav .brand h1{
  line-height: 80px;
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  text-transform: lowercase;
}

a {
  color: rgb(50, 50, 50);
  text-decoration: none;
  transition: all .25s ease-in-out;
}

a:hover {
  color: rgb(100, 100, 100);
  border-bottom: 4px solid rgb(100, 100, 100);
}

.black {
  background-image: url(http://subtlepatterns.com/patterns/gray_sand.png); background-position: initial initial; background-repeat: initial initial;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.white, .about {
  background-image: url(http://subtlepatterns.com/patterns/white_carbon.png); background-position: initial initial; background-repeat: initial initial;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 65%;
  border-top: solid 2px black;
}

.blank-one {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIHWNkYGD4DwSMQBoMGIEcGBtMM8F4jIyMYBkMFQDP0wr/yEGXyAAAAABJRU5ErkJggg==) repeat,
 url(https://unsplash.imgix.net/photo-1414073875831-b47709631146?q=75&fm=jpg&s=731b6d5150eea8bafa63ae8194e72ebd) 100% fixed;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: -1em;
}

.blank-two {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIHWNkYGD4DwSMQBoMGIEcGBtMM8F4jIyMYBkMFQDP0wr/yEGXyAAAAABJRU5ErkJggg==) repeat,
 url(https://unsplash.imgix.net/25/black-white-city.jpg?q=75&fm=jpg&s=275cf0f5db491ed16f6a6d63e56dc41c) center center no-repeat fixed;
  text-align: center;
  height: 45%;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.blank-three {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIHWP8//8/AwwwMjL+Z0LmACUZwQIgGRAHJAki4ByQAAAg9BADCJJs7QAAAABJRU5ErkJggg==) repeat,
 url(http://www.wallpaperup.com/uploads/wallpapers/2012/09/26/16643/f0cae4e6a7ceb7fa8d3d9bccddb63783.jpg) right bottom no-repeat fixed;
  text-align: center;
  height: 40%;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.blank-four {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAS0lEQVQYGY2P0QoAIAgDW///z+aCwZSEejHWdUxExPIDIKOAZ7xvDwRxel5AQQxp7PA1OiRTh9nl2UkfJGFzZeMk/AXSULYelflwAPHTKwUaIRJKAAAAAElFTkSuQmCC) repeat,
 url(http://farm8.staticflickr.com/7191/6802641014_66dc3ddaa1_o.jpg) center center no-repeat fixed;
  text-align: center;
  height: 40%;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.text {
  width: 700px;
  margin: auto;
  line-height: 30px;
}

h2 {
  font-size: 80px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #000;
  margin-top: -1%;
  padding-top: 2em;
  font-family: 'Homemade Apple', cursive;
}

p, text.a {
  font-family: 'Nixie One', cursive;
  margin: 0 auto;
  color: white;
}

h3 {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 34px;
  margin: 0 auto;
  color: white;
}

.row {
  height: auto;
  width: auto;
}
