<div class="backgrounda">
  <h1 class="name">Stephanie Barreyro</h1>
  <p> Web Developer.  Winter 2015 graduate of the full stack web development bootcamp, Dev Bootcamp, in New York City, NY. I received my Bachelor of Science degree in Psychology with an emphasis in Biology from UC Davis. Check out some of my projects below.
  </p>
</div>

<div class="backgroundb">
  <h1>Projects</h1>
  <p> LottifyMe</p>
</div>

<div class="backgroundc">
  <h1>Contact Me</h1>
  <p>
  <ul>
  <li> Github</li>
  <li> LinkedIn</li>
  <li> MySpace</li>
  </ul> </p>
</div>
