<div class="backgrounda">
  <h1 class="name">Stephanie Barreyro</h1>
  <p> Web Developer.  Winter 2015 graduate of the full stack web development bootcamp, Dev Bootcamp, in New York City, NY. I received my Bachelor of Science degree in Psychology with an emphasis in Biology from UC Davis. Check out some of my projects below.
  </p>
</div>



<div class="backgroundb">
  <h1>Projects</h1>
  <section>
    <div id="icon-wrapper">
      <a href="map.html">
      <div class="icons">
        <div class="icon-slide-container">
          <img class="slide-icon"  alt="The Kite Map Logo" height="100" src="http://thekitemap.com/images/slide/view-map.jpg">
          </div>
        </div>
      </a>

      <a href="kite-map.php">
        <div class="icons2">
          <div class="icon-slide-container">
            <img class="slide-icon"  alt="The Kite Map Logo" height="100" src="http://thekitemap.com/images/slide/add-beach.jpg">
            </div>
          </div>
        </a>

        <a href="location.php">
          <div class="icons3">
            <div class="icon-slide-container">
              <img class="slide-icon"  alt="The Kite Map Logo" height="100" src="http://thekitemap.com/images/slide/view-all.jpg">
              </div>
            </div>
          </a>

          <a href="feedback.html">
            <div class="icons4">
              <div class="icon-slide-container">
                <img class="slide-icon"  alt="The Kite Map Logo" height="100" src="http://thekitemap.com/images/slide/feedback.jpg">
                </div>
              </div>
            </a>
    </div>
  </section>
</div>


<div class="backgroundc">
  <h1>Contact Me</h1>
  <p>
  <ul>
  <li> Github</li>
  <li> LinkedIn</li>
  <li> MySpace</li>
  </ul> </p>
</div>


